<searchbar class="card m-5" id="teamSearchBar">
  <h2 for="teamNameInput" class="card-header form-label text-center py-3">Search for a team</h2>
  <form autocomplete="off" class="d-flex d-row col-8 justify-content-center m-auto py-5 card-body">
    <input type="text" class="form-control text-center" id="teamNameInput">
    <button type="submit" class="btn btn-success px-4" id="teamNameSubmitBtn">Search</button>
  </form>
</searchbar>