<div class="register">
  <form>
    <h2>Register</h2>
    <div class="input-group">
      <label for="username">Username</label>
      <input type="text" id="regUsername" name="username" placeholder="Enter your username">
    </div>
    <div class="input-group">
      <label for="password">Password</label>
      <input type="password" id="regPassword" name="password" placeholder="Enter your password">
    </div>
    <button type="submit" id="registerSubmitBtn">Register</button>
  </form>
</div>

<div class="login">
  <form>
    <h2>Login</h2>
    <div class="input-group">
      <label for="username">Username</label>
      <input type="text" id="loginUsername" name="username" placeholder="Enter your username">
    </div>
    <div class="input-group">
      <label for="password">Password</label>
      <input type="password" id="loginPassword" name="password" placeholder="Enter your password">
    </div>
    <button type="submit" id="loginSubmitBtn">Log in</button>
  </form>
</div>

<script src="./js/login.js"></script>