/* front-end styling goes here ... */

:root {
--col1: #F0E3CA;
--col2: #FF8303;
--col3: #A35709;
--col4: #A35709;
--col5: #000000;
--col6: #fff;

}

#playerNameInput {
  height: 4rem
}

#footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  /* height: 2.5rem;     */
}