/* front-end styling goes here ... */

:root {
--col1: #F0E3CA;
--col2: #FF8303;
--col3: #A35709;
--col4: #A35709;
--col5: #000000;
--col6: #fff;

}

.navbar {
  border-radius: 0 0 15px 15px;
  -webkit-border-radius: 0 0 15px 15px;
  -moz-border-radius: 0 0 15px 15px;
  -ms-border-radius: 0 0 15px 15px;
  -o-border-radius: 0 0 15px 15px;
  box-shadow: 0 0 2px 1px #ff810394;
} 

.dashboardInfo {
  display: flex;
  justify-content: center;
}

.dashboardInfo > .card {
  width: 50%;
}

#navbarLinks {
  text-decoration: underline #fff;
}

#loginStatusBtn.border-warning {
  text-decoration: underline #FF8303;
  border-color: #FF8303 !important;
  border-radius: 10%;
  -webkit-border-radius: 10%;
  -moz-border-radius: 10%;
  -ms-border-radius: 10%;
  -o-border-radius: 10%;
}

#logoutBtn.border-warning {
  text-decoration: underline #FF8303;
  border-color: #FF8303 !important;
  border-radius: 10%;
  -webkit-border-radius: 10%;
  -moz-border-radius: 10%;
  -ms-border-radius: 10%;
  -o-border-radius: 10%;
}

#ballDontLie > h1 {
  font-size: 5em;
  color: #000000;
  text-shadow: 5px 5px #ff8103a2;
}

#ballDontLie {
  background-image: url('/assets/images/balldontliebgimage.jpg');
  /* filter: blur(8px); */
  background-position: 75% 60%;
  background-size: cover;
}

#loginRegCards {
  height: 75vh;
  align-items: center;
}

#loginCard, #registerCard {
  height: 40vh;
  width: 30vw;
  box-shadow: .5rem .5rem 2px 1px #ff810394, -.5rem -.5rem 2px 1px #ff81032a;
}

#loginCard > .card-body {
  margin: 0 5% 0 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#registerCard > .card-body {
  margin: 0 5% 0 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#loginCard > .card-footer {
  padding: 2% 0 2% 5%;
}

#registerCard > .card-footer {
  padding: 2% 0 2% 5%;
}

#playerNameInput {
  height: 4rem
}

#footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  /* height: 2.5rem;     */
}