/* front-end styling goes here ... */

body {
  font-family: Arial, sans-serif;
  background-color: #F2F2F2;
}
.container {
  max-width: 400px;
  margin: 0 auto;
  padding: 40px;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.container h2 {
  text-align: center;
  margin-bottom: 20px;
}
.input-group {
  margin-bottom: 20px;
}
.input-group label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}
.input-group input {
  width: 100%;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
}
/* button {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #E67315;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
button:hover {
  background-color: #45A049;
} */